<main>
  <%= yield %>
</main>
<%= javascript_include_tag "play.js" %>
<%= subscribe_to @subscribe_channel %>
<%= javascript_tag do %>
  jQuery(function($) {
   	Estefis.BattleShipGame.start({
   	 playerToken: <%= raw @player_token.to_json %>,
   	 locations: <%= raw @locations.to_json %>,
   	 rowCount: <%= @row_count %>,
   	 colCount: <%= @col_count %>
    });
  });
<% end %>